%div{ class: "container main-board" }
  %h3 新建一个读书好地方 
  - if @place.errors.any?
    #error_explanation
      %div{ class: "alert alert-danger" }
        = "有 #{ @place.errors.count } 个错误，请重新提交"
      %ul
        - @place.errors.messages.each do |msg|
          %li= msg[1].join unless msg[1].blank?
  = render 'form'
