%div{ class: "container main-board" }
  %h3 新建一个读书好地方 
  - if @place.errors.any?
    #error_explanation
      %div{ class: "alert alert-danger" }
        = "有#{pluralize(@place.errors.count, "error")}个错误，请重新提交"
      %ul
        - @place.errors.full_messages.each do |msg|
          %li= msg
  = render 'form'
